apiVersion: apps/v1
kind: Deployment
metadata:
  name: pgadmin
  namespace: conference-room
spec:
  replicas: 1
  selector:
    matchLabels:
      app: pgadmin
  template:
    metadata:
      labels:
        app: pgadmin
    spec:
      nodeSelector:
        node-type: back
      containers:
        - name: pgadmin
          image: dpage/pgadmin4
          ports:
            - containerPort: 80
          env:
            - name: PGADMIN_DEFAULT_EMAIL
              value: admin@conference.co
            - name: PGADMIN_DEFAULT_PASSWORD
              value: admin123
---
apiVersion: v1
kind: Service
metadata:
  name: pgadmin
  namespace: conference-room
spec:
  type: NodePort
  selector:
    app: pgadmin
  ports:
    - port: 80
      targetPort: 80
      nodePort: 30580
