apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgres
spec:
  replicas: 1
  selector:
    matchLabels:
      app: postgres
  template:
    metadata:
      labels:
        app: postgres
    spec:
      containers:
      - name: postgres
        image: postgres:15
        ports:
          - containerPort: 5432
        env:
          - name: POSTGRES_USER
            value: "conf_user"
          - name: POSTGRES_PASSWORD
            value: "conf_pass"
          - name: POSTGRES_DB
            value: "conference_db"
          - name: POSTGRES_HOST_AUTH_METHOD
            value: "trust"
          - name: PGDATA
            value: "/var/lib/postgresql/data"
        args: ["-c", "listen_addresses=*"]

---
apiVersion: v1
kind: Service
metadata:
  name: postgres
spec:
  selector:
    app: postgres
  ports:
    - protocol: TCP
      port: 5432
      targetPort: 5432
  type: NodePort
